<div>
    {{each blogposts}}
    <div>
        <h2>
            <a href="/blogposts/{{id}}">{{title}}</a>
        
        </h2>
        <div>Posted by {{User.username}} on {{date_created}}</div>
    </div>
</div>
{{/each}}